<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:supportsRtl="true">
        <activity
            android:theme="@style/Base.Theme.PoketmonEncyclopedia"
            android:name="com.poketmonencyclopedia.poketmonlist.PoketmonActivity">
        </activity>
    </application>

</manifest>